{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
{% endblock %}



{% block header %}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
<div class="well mx-auto mt-4">
    <legend>Авторизация</legend>
    <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" name="submit" class="btn btn-lrg btn-success w-100">Вход</button>
        </div>
    </form>
    <ul class="unstyled login mt-5">
        <li><a href="mailto:support@garlnd.ru">Поддержка</a></li>
        <li><a href="{% url 'portal_auth_password_reset' %}">Восстановить пароль</a></li>
{#        <li><a href="{% url 'registration_register' %}">Регистрация</a></li>#}
    </ul>
</div>
{% endblock %}