{% extends "base.html" %}
{% block css %}
    <link href="{{ STATIC_URL }}css/password_required.css" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
<div class="well span4 offset4">
    {% if form.non_field_errors or form.errors %}
    <legend class="error">Упс!</legend>
        {% if form.non_field_errors %}
        <div class="alert alert-error">
            <p>{{ form.non_field_errors }}</p>
            <a class="close" href="#" data-dismiss="alert"><i class="icon-remove"></i></a>
        </div>
        {% endif %}
    {% else %}
    <legend><i class="icon-lock"></i> Карта закрыта</legend>
    {% endif %}
    <form id="password-required-login" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
            {% if field.errors %}{{ field.errors }}{% endif %}
        {% endfor %}
        <button type="submit" name="submit" class="btn btn-large btn-success login">Просмотр</button>
    </form>
</div>
{% endblock %}

