.well{
    max-width: 500px;
}

ul.errorlist, legend.error{
    color: #B94A48;
}

button.password_reset{
    margin-top: 20px;
}

ul.errorlist{
    list-style-type: none;
}

.alert-error{
    position:relative;
}

.alert a.close{
    position:absolute;
    top: 5px;
    right: 5px;
}

img.captcha{
    cursor: pointer;
}