{% extends "main.html" %}

{% block content %}
<h1>ПРАВИЛА ПОЛЬЗОВАНИЯ сайтом garlnd.ru</h1>
<ol>
<li>Термины и
    определения
    <ol>
        <li>Администрация
            Синявский Алексей Владимирович, физическое лицо.

        </li><li>Пользователь –
            физическое или юридическое лицо, заключившее соглашение с
            Администрацией Сайта путем совершения акцепта в порядке, указанном
            в п.3.1 настоящих Правил.
        </li><li>Зарегистрированный
            Пользователь – Пользователь, прошедший на Сайте процедуру
            регистрации.
        </li><li>Сервис –
            включает в себя средства управления мониторинговыми картами и т. д.

            <br><br>В состав Сервисов входят:
            <ul>
                <li>мониторинговые карты - позволяет создавать приватные и публичные карты и с помолщью сторонних сервисов отмечать на них события</li>
                <li>трэкинг - возможность просматривать маршруты онлайн</li>
            <li>прочие Сервисы, указанные на Сайте.</li>
            </ul>

        </li><li>Сайт –
            Интернет-ресурс, имеющий сетевой адрес
            <a class="js-navigate" href="https://garlnd.ru">https://garlnd.ru</a>.
            Все права на Сайт в целом и на использование сетевого адреса
            (доменного имени) принадлежат Администрации Сайта.

        </li><li>Профиль - раздел Сайта, позволяющий просматривать и изменять данные Пользователя,
            настройки приватности, настройки уведомлений на электронную почту, управлять
            использованием Сервисов и получать информацию о внесенных/полученных/списанных
            денежных средствах и других расчетных операциях Пользователя.
            <br><br>
            Карта Пользователя, опубликованная в его профиле, может быть
            опубликована в общей ленте карт Сайта. Информация, которая не защищена
            Пользователем соответствующими настройками приватности, становится общедоступной.

    </li></ol>

</li><li>Общие положения
    <ol>
        <li>Сайт – это пространство для создания и редактирования мониторинговых карт.
        </li><li>Настоящие Правила
            пользования Сайтом (далее – Правила) являются юридически
            обязательным соглашением между Пользователем и Администрацией
            Сайта, предметом которого является предоставление Пользователю
            услуг по использованию Сервисов. Помимо настоящих Правил, к
            соглашению между Пользователем и Администрацией Сайта относятся все
            специальные документы, регулирующие предоставление отдельных
            Сервисов и размещенные в соответствующих разделах Сайта.
        </li><li>Администрация
            Сайта предлагает Пользователю Сервисы на условиях, изложенных в
            настоящих Правилах. Настоящие Правила являются публичной офертой в
            соответствии со ст. 437 Гражданского кодекса Российской Федерации и
            адресованы любому лицу, желающему воспользоваться Сервисами.
        </li><li>Пользователь
            обязан полностью ознакомиться с настоящими Правилами до того
            момента, когда он воспользуется Сервисами.

        </li><li>Настоящие Правила
            могут быть изменены и/или дополнены Администрацией Сайта в
            одностороннем порядке без какого-либо специального уведомления
            Пользователей.
        </li><li>Настоящие Правила
            являются открытым и общедоступным документом. Действующая редакция
            Правил располагается в сети Интернет по адресу:
            <a class="js-navigate" href="https://garlnd.ru/static-pages/agreement/">https://garlnd.ru/static-pages/agreement/</a>.
        </li><li>На основании и в
            рамках утвержденной Администрацией Сайта маркетинговой политики
            Администрация Сайта вправе проводить маркетинговые акции, в рамках
            которых Сервисы предоставляются на иных условиях, чем те, которые
            содержатся в настоящих Правилах (в том числе на иных условиях
            оплаты). При этом в отношении таких Сервисов действуют положения
            Правил в той части, в которой не противоречат условиям
            предоставления таких Сервисов в рамках маркетинговых акций.
    </li></ol>

</li><li>Условия
    предоставления Сервисов
    <ol>
        <li>Акцептом
            настоящих Правил является регистрация Пользователя на Сайте либо
            первое использование Пользователем любого из Сервисов. Акцепт не
            может быть отозван после осуществления указанных действий. Таким
            образом, Правила считаются принятыми (соглашение - заключенным) с
            даты регистрации Пользователя на Сайте или с даты первого
            использования Пользователем любого из Сервисов.

        </li><li>Акцепт настоящей
            Публичной оферты означает полное и безоговорочное согласие со всеми
            условиями Правил и других документов, размещенных на Сайте, и
            принятие их (в соотв. со ст. 438 Гражданского кодекса Российской
            Федерации).
        </li><li>В случае
            несогласия Пользователя с какими-либо из положений Правил, а также
            с внесенными изменениями в Правила, Пользователь не вправе
            пользоваться Сервисами.
        </li><li>Администрация
            Сайта рекомендует Пользователям регулярно проверять условия
            настоящих Правил на предмет их изменения и/или дополнения.
            Продолжение пользования Сервисами Пользователем после внесения
            изменений и/или дополнений в настоящие Правила означает принятие и
            согласие Пользователя с такими изменениями и/или дополнениями.
        </li><li>Все документы и
            тексты, регулирующие предоставление отдельных Сервисов (в том числе
            размещенные Администрацией Сайта на Сайте), следует рассматривать
            как неотъемлемую часть настоящих Правил, если иное прямо не указано
            в таких документах и текстах.
        </li><li>Обращения,
            предложения и претензии физических и юридических лиц к
            Администрации Сайта в связи с настоящими Правилами и всеми
            вопросами по функционированию Сайта, нарушениями прав и интересов
            третьих лиц при его использовании, а также для запросов
            уполномоченных законодательством Российской Федерации лиц могут
            быть направлены на электронную почту по адресу: <a href="mailto:support@garlnd.ru">support@garlnd.ru</a>
            или через специальную форму по адресу: <a class="js-navigate" href="https://garlnd.ru/feedback/">https://garlnd.ru/feedback/</a>

        </li><li>Никакие положения
            настоящих Правил не предоставляют Пользователю право на
            использование фирменного наименования, товарных знаков, доменных
            имен и иных отличительных знаков Администрации Сайта и других
            Пользователей. Право на использование фирменного наименования,
            товарных знаков, доменных имен и иных отличительных знаков
            Администрации Сайта может быть предоставлено исключительно по
            письменному соглашению с Администрацией Сайта.
        </li><li>Сервисы
            предоставляются в соответствии с законодательством Российской
            Федерации, настоящими Правилами и иными специальными документами,
            которые разработаны или могут быть разработаны и приняты
            Администрацией Сайта в целях регламентации предоставления
            Пользователям отдельных Сервисов.
        </li><li>Сайт может
            содержать ссылки на Сервисы, которые могут быть недоступны в той
            или иной стране или регионе. Любая такая ссылка не означает и не
            гарантирует, что любые такие Сервисы должны быть доступны в любое
            время в любой конкретной стране или регионе. Администрация Сайта
            вправе изменять порядок и условия предоставления Сервисов в любое
            время по своему усмотрению.
    </li></ol>

</li><li>Порядок
    предоставления Сервисов. Регистрация Пользователя на Сайте
    <ol>
        <li>Сервисы
            предоставляются как зарегистрированным Пользователям, так и
            Пользователям, не прошедшим регистрацию на Сайте. Ряд Сервисов
            доступен только для зарегистрированных Пользователей, о чем
            Пользователь уведомляется на Сайте.

        </li><li>Регистрация
            Пользователя на Сайте является бесплатной, добровольной и
            производится по адресу:
            <a class="js-navigate" href="https://garlnd.ru/register/">https://garlnd.ru/register/</a>. При этом Компания
            для прохождения процедуры регистрации обязана зарегистрировать
            минимум одного своего сотрудника. Сотрудник может
            зарегистрироваться самостоятельно и прикрепиться к какой-либо
            Компании путем подачи заявки такой Компании, либо не прикрепляться
            ни к какой Компании.

        </li><li>При регистрации
            на Сайте Пользователь заполняет регистрационную форму. В
            регистрационную форму Пользователь вносит необходимую актуальную,
            соответствующую действительности и законодательству Российской
            Федерации и чистую от претензий третьих лиц информацию для
            формирования персональной страницы Пользователя, включая уникальный
            адрес электронной почты (при регистрации Сотрудников). Также
            Сотрудник предоставляет Администрации Сайта логин (им является
            адрес его электронной почты) и пароль доступа к Сайту.
            Регистрационная форма Сайта может запрашивать у Пользователя
            дополнительную информацию. Пользователь также обязуется следить за
            актуализацией информации.
        </li><li>Пользователь
            несет ответственность за соответствие действительности,
            актуальность, полноту и соответствие законодательству Российской
            Федерации предоставленной при регистрации информации и ее чистоту
            от претензий третьих лиц.
        </li><li>Выбранные
            Пользователем логин и пароль являются необходимой и достаточной
            информацией для регистрации Пользователя на Сайте. Пользователь не
            имеет права передавать свои логин и пароль третьим лицам, несет
            полную ответственность за их сохранность, самостоятельно выбирая
            способ их хранения. Пользователю запрещается любым способом, в том
            числе путем взлома или обмана, пытаться получить доступ к логину и
            паролю другого Пользователя. Пользователь несет личную
            ответственность за любую информацию, которую размещает на Сайте,
            сообщает другим Пользователям, а также за любые взаимодействия с
            другими Пользователями, осуществляемые на свой страх и риск.

        </li><li>Пользователь
            несет ответственность перед Администрацией Сайта и третьими лицами
            за все действия, которые совершены при использовании учетной записи
            Пользователя.
        </li><li>Если Пользователю
            становится известно о любом несанкционированном использовании
            своего пароля или своей учетной записи, Пользователь соглашается
            незамедлительно уведомить об этом Администрацию Сайта по адресу,
            указанному в п.3.6 настоящих Правил.
        </li><li>Администрация
            Сайта осуществляет регистрацию Пользователя на Сайте путем
            присвоения Пользователю идентификационного номера (ID)
            и направления Пользователю уведомления о его регистрации на
            электронный адрес Пользователя, указанный Пользователем при
            регистрации.

        </li><li>В процессе
            предоставления Сервисов может демонстрироваться реклама.
            Пользование Сервисами (п.3.1 настоящих Правил) означает согласие
            Пользователя на просмотр рекламы на Сайте.
        </li><li>Зарегистрированный
            Пользователь может изменять свои личные данные, а также настроить
            «Оповещения по электронной почте» для получения
            рассылки уведомлений об интересующих событиях Сайта.
    </li></ol>

</li><li>Права и
    обязанности Пользователя

    <ol>
        <li>При пользовании
            Сервисами Пользователь обязан:
            <ol>
                <li>соблюдать
                    положения действующего законодательства Российской Федерации и
                    настоящих Правил, а также не предоставлять доступ другим
                    Пользователям к собственной персональной странице или к отдельной
                    содержащейся на ней информации в случае, если это может привести к
                    нарушению законодательства Российской Федерации и/или настоящих
                    Правил. При этом Компания вправе предоставлять доступ к своему
                    профилю своим Сотрудникам;
                </li><li>не размещать на
                    персональной странице Пользователя и других страницах Сайта
                    информацию и объекты (включая ссылки на них), которые могут
                    нарушать права и интересы других лиц, иметь незаконный характер;
                </li><li>хранить в тайне
                    и не предоставлять другим Пользователям и третьим лицам ставшие
                    ему известными в результате общения с другими Пользователями и
                    пользования Сервисами персональные данные (включая, но не
                    ограничиваясь, домашними адресами, номерами телефонов, адресами
                    электронной почты, паспортными данными, банковской информацией) и
                    информацию о частной жизни других Пользователей и третьих лиц без
                    получения соответствующего предварительного разрешения последних.
            </li></ol>

        </li><li>Пользователю при
            использовании Сервисов запрещается:
            <ol>
                <li>регистрироваться
                    в качестве Пользователя от имени или вместо другого лица
                    («фальшивый аккаунт») в качестве Пользователя. При
                    этом возможна регистрация от имени и поручению другого
                    физического/юридического лица при условии получения необходимых
                    полномочий в порядке и форме, предусмотренных законодательством
                    Российской Федерации;
                </li><li>вводить
                    Пользователей в заблуждение относительно себя, используя логин и
                    пароль другого зарегистрированного Пользователя;
                </li><li>искажать
                    сведения о себе;
                </li><li>загружать,
                    хранить, публиковать, распространять и предоставлять доступ или
                    иным образом использовать любую информацию, которая:
                    <ul>
                        <li>содержит угрозы,
                            дискредитирует, оскорбляет, порочит честь и достоинство или деловую
                            репутацию или нарушает неприкосновенность частной жизни других
                            Пользователей или третьих лиц;
                        </li><li>нарушает права
                            несовершеннолетних лиц;
                        </li><li>является
                            вульгарной или непристойной, содержит нецензурную лексику, содержит
                            порнографические изображения и тексты или сцены сексуального
                            характера, в том числе с участием несовершеннолетних;
                        </li><li>содержит сцены
                            насилия, либо бесчеловечного обращения с животными;
                        </li><li>содержит описание
                            средств и способов суицида, любое подстрекательство к его
                            совершению;
                        </li><li>пропагандирует
                            и/или способствует разжиганию расовой, религиозной, этнической
                            ненависти или вражды, пропагандирует фашизм или идеологию расового
                            превосходства;
                        </li><li>содержит
                            экстремистские материалы;
                        </li><li>пропагандирует
                            преступную деятельность или содержит советы, инструкции или
                            руководства по совершению преступных действий,
                        </li><li>содержит
                            информацию ограниченного доступа, включая, но не ограничиваясь,
                            государственной и коммерческой тайной, информацией о частной жизни
                            третьих лиц;
                        </li><li>содержит рекламу
                            или описывает привлекательность употребления наркотических веществ,
                            в том числе «цифровых наркотиков» (звуковых файлов,
                            оказывающих воздействие на мозг человека за счет бинауральных
                            ритмов), информацию о распространении наркотиков, рецепты их
                            изготовления и советы по употреблению;
                        </li><li>носит
                            мошеннический характер;
                        </li><li>а также нарушает
                            иные права и интересы граждан и юридических лиц или требования
                            законодательства Российской Федерации.
                    </li></ul>
                </li><li>незаконно
                    загружать, хранить, публиковать, распространять и предоставлять
                    доступ или иным образом незаконно использовать интеллектуальную
                    собственность Пользователей и третьих лиц;
                </li><li>использовать
                    программное обеспечение и осуществлять действия, направленные на
                    нарушение нормального функционирования Сайта и Сервисов или
                    персональных страниц Пользователей, в том числе загружать,
                    хранить, публиковать, распространять и предоставлять доступ или
                    иным образом использовать вирусы, «трояны» и другие
                    вредоносные программы;
                </li><li>осуществлять
                    (пытаться получить) доступ к каким-либо услугам иным способом,
                    кроме как через интерфейс, предоставленный Администрацией Сайта, в
                    том числе и незаконно распространять или воспроизводить,
                    дублировать, копировать, продавать, осуществлять торговые операции
                    и перепродавать данные, позволяющие использовать сервис в обход
                    интерфейса для каких-либо целей, за исключением случаев, когда
                    такие действия были прямо разрешены Пользователю в соответствии с
                    условиями отдельного письменного соглашения с Администрацией
                    Сайта;
                </li><li>размещать любую
                    другую информацию, которая, по мнению Администрации Сайта,
                    является нежелательной, не соответствует целям создания Сайта,
                    ущемляет интересы Пользователей или по другим причинам является
                    нежелательной для размещения на Сайте, в том числе информацию об
                    интернет-ресурсах сходной тематики.
            </li></ol>

        </li><li>Пользователь
            имеет право:
            <ol>
                <li>Пользоваться
                    Сайтом и Сервисами в соответствии с настоящими Правилами;
                </li><li>Публиковать на
                    своей странице/в своем профиле новости и иные информационные
                    сообщения, которые, при соответствующих настройках его профиля,
                    могут отображаться в общей ленте новостей Сайта;
                </li><li>Использовать
                    возможности Сайта для рекламной деятельности;
                </li><li>Пользоваться
                    Сервисами платной рекламы (при их наличии на Сайте);
                </li><li>Приглашать новых
                    Пользователей к использованию Сервисов;
                </li><li>Участвовать в
                    обсуждениях (комментировать) сообщения других Пользователей.
            </li></ol>

        </li><li>Если Пользователь
            считает, что при выполнении оплаты была допущена ошибка,
            Пользователь вправе обратиться в Службу поддержки Пользователей
            Сайта через форму на сайте <a class="js-navigate" href="https://garlnd.ru/feedback/">https://garlnd.ru/feedback/</a>
            или по
            электронной почте <a href="mailto:support@garlnd.ru">support@garlnd.ru</a>.
    </li></ol>


</li><li>Интеллектуальная
    собственность
    <ol>
        <li>Все объекты,
            размещенные на Сайте, в том числе элементы дизайна, текст,
            графические изображения, иллюстрации, видео, скрипты, программы,
            музыка, звуки и другие объекты и их подборки (далее —
            Контент), являются объектами авторских прав Администрации Сайта,
            Пользователей Сайта и других правообладателей, все права на эти
            объекты защищены. Размещая свой Контент в любой части Сайта (за
            исключением личных сообщений между Пользователями внутри Сервисов и
            Контента, имеющего ограничения по публичному доступу), Пользователь
            автоматически безвозмездно предоставляет Администрации Сайта и
            другим Пользователям неисключительное право на его использование
            путем копирования, публичного исполнения, публичного показа (то
            есть любой демонстрации непосредственно, либо на экране с помощью
            любых технических средств), воспроизведения, доведения до всеобщего
            сведения (таким образом, при котором любое лицо может иметь доступ
            к ней в интерактивном режиме из любого места и в любое время по
            своему выбору (право на доведение до всеобщего сведения),
            переработки, перевода и распространения для любых целей, в том
            числе для популяризации Сайта;
        </li><li>Использование
            Пользователем Контента, доступ к которому получен в соответствии с
            Правилами, допускается при условии сохранения всех знаков авторства
            (копирайтов) или других уведомлений об авторстве, сохранения имени
            автора в неизменном виде, сохранения произведения в неизменном
            виде. При использовании материалов Сайта ссылка на источник
            обязательна.

        </li><li>Администрация
            Сайта оставляет за собой право удалять или перемещать (без
            предупреждения) любой Контент, который, по мнению Администрации
            Сайта, нарушает настоящие Правила, законодательство Российской
            Федерации и/или может нарушать права, причинить вред или угрожать
            безопасности других Пользователей или третьих лиц. Администрация
            Сайта также оставляет за собой право удалять учетную запись
            Пользователей (аккаунт) как из-за нарушения последними настоящих
            Правил или законодательства Российской Федерации, так и без
            объяснения причин. Администрация Сайта не несет ответственности за
            нарушение Пользователем настоящих Правил.
        </li><li>Администрация
            Сайта вправе отказать в предоставлении Сервисов в случае нарушения
            Пользователем настоящих Правил.
    </li></ol>

</li><li>Права и
    обязанности Администрации Сайта
    <ol>
        <li>Администрация
            Сайта сохраняет за собой право в любое время изменять оформление
            Сайта, его содержание, перечень Сервисов, изменять или дополнять
            используемые скрипты, программное обеспечение и другие объекты,
            используемые или хранящиеся на Сайте, любые серверные приложения в
            любое время с предварительным уведомлением Пользователя или без
            такового, в связи с чем Администрация Сайта может изменить,
            ограничить, прекратить или приостановить использование Сервисов
            Пользователем.
        </li><li>Администрация
            Сайта вправе осуществлять модерацию или цензуру информации
            Пользователей и предпринимать действия по защите прав и интересов
            лиц и обеспечению соблюдения требований настоящих Правил и
            законодательства Российской Федерации.
        </li><li>Администрация
            Сайта по мере возможностей обеспечивает функционирование и
            работоспособность Сайта и обязуется оперативно восстанавливать его
            работоспособность в случае технических сбоев и перерывов.
            Администрация Сайта не несет ответственности за временные сбои и
            перерывы в работе Сайта и вызванные ими потерю информации и
            невозможность предоставлять Сервисы.

        </li><li>Администрация
            Сайта имеет право распоряжаться статистической информацией,
            связанной с функционированием Сайта, а также информацией
            Пользователей для обеспечения адресного показа рекламной информации
            различным аудиториям Пользователей Сайта.

        </li><li>Администрация
            Сайта имеет право направлять Пользователю информацию о развитии
            Сайта и Сервисов, а также рекламировать собственную деятельность и
            Сервисы.
        </li><li>Администрация
            Сайта имеет право ограничить, приостановить или прекратить
            использование Пользователем Сервисов, прекратить доступ
            Пользователя к Сайту, удалить размещенные Пользователем материалы и
            предпринять технические и юридические меры, направленные на то,
            чтобы предотвратить доступ Пользователя к Сайту в будущем, если
            Администрация Сайта сочтет, что Пользователь нарушает положения
            Правил, влечет своими действиями возможность привлечения к
            юридической ответственности, нарушает права интеллектуальной
            собственности третьих лиц, принимает участие в обманных,
            мошеннических, аморальных или незаконных действиях и в иных
            случаях, предусмотренных законодательством РФ.

        </li><li>Администрация
            Сайта вправе использовать возможности Сайта для рекламной
            деятельности.

        </li><li>Администрация
            Сайта не несет ответственности за любой ущерб компьютеру
            Пользователя или иного лица, мобильным устройствам, любому другому
            оборудованию или программному обеспечению, вызванный или связанный
            со скачиванием материалов по ссылкам, размещенным Администрацией
            Сайта, Пользователями или третьими лицами.
        </li><li>Администрация
            Сайта не несет ответственности за любую информацию, размещенную на
            сайтах третьих лиц и других Пользователей, к которым Пользователь
            получает доступ через Сайт или через Контент третьих лиц и
            Пользователей, включая, в том числе, любые мнения или утверждения,
            выраженные на сайтах третьих лиц и Пользователей или в их контенте,
            а также за любую информацию и Контент, размещенные Пользователями.
        </li><li>Администрация
            Сайта не несет ответственности за действия агентов Администрации
            Сайта по приему оплаты.
        </li><li>Ссылка на любой
            сайт, продукт, услугу, любую информацию коммерческого или
            некоммерческого характера, размещенная на Сайте, не является
            одобрением или рекомендацией данных продуктов (услуг) со стороны
            Администрации Сайта.
        </li><li>Условия
            ограничения ответственности Администрации Сайта:
            <ul>
                <li>САЙТ И СЕРВИСЫ,
                    ВКЛЮЧАЯ ВСЕ СКРИПТЫ, ПРИЛОЖЕНИЯ, КОНТЕНТ И ОФОРМЛЕНИЕ САЙТА
                    ПОСТАВЛЯЮТСЯ «КАК ЕСТЬ». АДМИНИСТРАЦИЯ САЙТА
                    ОТКАЗЫВАЕТСЯ ОТ ВСЯКИХ ГАРАНТИЙ ТОГО, ЧТО САЙТ И/ИЛИ СЕРВИСЫ МОГУТ
                    ПОДХОДИТЬ ИЛИ НЕ ПОДХОДИТЬ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ ИСПОЛЬЗОВАНИЯ.
                    АДМИНИСТРАЦИЯ САЙТА НЕ МОЖЕТ ГАРАНТИРОВАТЬ И НЕ ОБЕЩАЕТ НИКАКИХ
                    СПЕЦИФИЧЕСКИХ РЕЗУЛЬТАТОВ ОТ ИСПОЛЬЗОВАНИЯ САЙТА И/ИЛИ СЕРВИСОВ;
                </li><li>ВО ИЗБЕЖАНИЕ
                    НЕДОРАЗУМЕНИЙ ПОЛЬЗОВАТЕЛЮ СЛЕДУЕТ СОБЛЮДАТЬ МЕРЫ ПРЕДОСТОРОЖНОСТИ В
                    СКАЧИВАНИИ С САЙТА ИЛИ ПО РАЗМЕЩЕННЫМ НА НЕМ ТРЕТЬИМИ ЛИЦАМИ И
                    ДРУГИМИ ПОЛЬЗОВАТЕЛЯМИ ССЫЛКАМ И ИСПОЛЬЗОВАНИИ ЛЮБЫХ ФАЙЛОВ, В ТОМ
                    ЧИСЛЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ. АДМИНИСТРАЦИЯ САЙТА НАСТОЯТЕЛЬНО
                    РЕКОМЕНДУЕТ ИСПОЛЬЗОВАТЬ ТОЛЬКО ЛИЦЕНЗИОННОЕ, В ТОМ ЧИСЛЕ
                    АНТИВИРУСНОЕ, ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ;
                </li><li>ИСПОЛЬЗУЯ САЙТ,
                    ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ С ТЕМ, ЧТО СКАЧИВАЕТ С САЙТА ИЛИ С ЕГО
                    ПОМОЩЬЮ ЛЮБЫЕ МАТЕРИАЛЫ НА СВОЙ СОБСТВЕННЫЙ СТРАХ И РИСК И НЕСЕТ
                    ЛИЧНУЮ ОТВЕТСТВЕННОСТЬ ЗА ВОЗМОЖНЫЕ ПОСЛЕДСТВИЯ ИСПОЛЬЗОВАНИЯ
                    УКАЗАННЫХ МАТЕРИАЛОВ, В ТОМ ЧИСЛЕ ЗА УЩЕРБ, КОТОРЫЙ ЭТО МОЖЕТ
                    ПРИЧИНИТЬ КОМПЬЮТЕРУ ПОЛЬЗОВАТЕЛЯ ИЛИ ТРЕТЬИМ ЛИЦАМ, ЗА ПОТЕРЮ
                    ДАННЫХ ИЛИ ЛЮБОЙ ДРУГОЙ ВРЕД;
                </li><li>НИ ПРИ КАКИХ
                    ОБСТОЯТЕЛЬСТВАХ АДМИНИСТРАЦИЯ САЙТА ИЛИ ЕЕ ПРЕДСТАВИТЕЛИ НЕ НЕСУТ
                    ОТВЕТСТВЕННОСТЬ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ ИЛИ ПЕРЕД ЛЮБЫМИ ТРЕТЬИМИ ЛИЦАМИ
                    ЗА ЛЮБОЙ ПРЯМОЙ, КОСВЕННЫЙ, СЛУЧАЙНЫЙ, НЕУМЫШЛЕННЫЙ УЩЕРБ, ВКЛЮЧАЯ
                    УПУЩЕННУЮ ВЫГОДУ ИЛИ ПОТЕРЯННЫЕ ДАННЫЕ, ВРЕД ЧЕСТИ, ДОСТОИНСТВУ ИЛИ
                    ДЕЛОВОЙ РЕПУТАЦИИ, ВЫЗВАННЫЙ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ САЙТА ИЛИ
                    СЕРВИСОВ, СОДЕРЖИМОГО САЙТА ИЛИ ИНЫХ МАТЕРИАЛОВ, К КОТОРЫМ
                    ПОЛЬЗОВАТЕЛЬ ИЛИ ИНЫЕ ЛИЦА ПОЛУЧИЛИ ДОСТУП С ПОМОЩЬЮ САЙТА И/ИЛИ
                    СЕРВИСОВ, ДАЖЕ ЕСЛИ АДМИНИСТРАЦИЯ САЙТА ПРЕДУПРЕЖДАЛА ИЛИ УКАЗЫВАЛА
                    НА ВОЗМОЖНОСТЬ ТАКОГО ВРЕДА.
            </li></ul>
    </li></ol>
</li><li>ПОРЯДОК РАСЧЕТОВ
    ПРИ ИСПОЛЬЗОВАНИИ ПЛАТНЫХ СЕРВИСОВ
    <ol>
        <li>Общие
            условия:
            <ol>
                <li>Возможность
                    использовать платные Сервисы предоставляется только при условии
                    достаточных&nbsp;для использования соответствующего Сервиса средств
                    на депозите Пользователя. Ответственность за поддержание
                    достаточного баланса на своем депозите возлагается на
                    Пользователя.
                </li><li>Раздел «Депозит»
                    в профиле Пользователя ведется Администрацией Сайта как
                    унифицированная система учета денежных взаимоотношений между
                    Сторонами.
                </li><li>Все расчеты
                    между Сторонами ведутся в российских рублях.
                </li><li>Стоимость за
                    использование Сервисов включает в себя налог на добавленную
                    стоимость.
                </li><li>Пользователь
                    может внести на свой депозит денежную сумму при помощи кредитной
                    карты или других средств оплаты, которые предложены Администрацией
                    Сайта в соответствующем разделе Сайта, путем перечисления денежных
                    средств посредством платежных систем или иными доступными на Сайте
                    способами оплаты Сервисов.
            </li></ol>

        </li><li>Правила возврата
            платежей:
            <ol>
                <li>Пользователь
                    &nbsp;имеет право обратиться к Администрации Сайта с требованием
                    возврата неизрасходованных денежных средств, внесенных им в счет
                    уплаты за использование Сервисов авансом;
                </li><li>Для возврата
                    неизрасходованных денежных средств согласно &nbsp;п. 8.2.1 Правил
                    Пользователь подает заявление о возврате внесенных и
                    неизрасходованных им сумм платежей в письменном виде по месту
                    нахождения Администрации Сайта или по почте;
                </li><li>После получения
                    обоснованного заявления Пользователя о возврате внесенных и
                    неизрасходованных им сумм платежей Администрация Сайта возвращает
                    неизрасходованную сумму, находящуюся на лицевом счете
                    Пользователя;
                </li><li>Возврат
                    внесенных и неизрасходованных Пользователем сумм платежей
                    производится Администрацией Сайта на указанный Пользователем
                    банковский счет. При этом внесенные и неизрасходованные средства
                    возвращаются Пользователю за вычетом необходимых банковских
                    комиссий по переводу денежных средств;
                </li><li>При списании с
                    депозита соответствующей суммы денежных средств на указанный
                    Пользователем банковский счет обязанность Администрации Сайта
                    вернуть Пользователю неиспользованный остаток средств считается
                    исполненной;
                </li><li>Любые
                    злоупотребления со стороны Пользователя в отношении условий,
                    касающихся возврата платежей, ведут к расторжению Договора по
                    инициативе Администрации Сайта;
                </li><li>Возврату
                    согласно п.8.2.1 Правил подлежат только те денежные средства,
                    которые были внесены Пользователем в счет оплаты за Сервисы
                    авансом. Пользователь не вправе требовать возврата, а
                    Администрация Сайта не обязана возвращать Пользователю суммы
                    денежных средств, поступившие на Лицевой счет Пользователя от
                    Администрации Сайта в рамках проведения каких-либо маркетинговых
                    акций (например, бонусы и т.п.) (п.3.5 Договора).
            </li></ol>

        </li><li>Оплата:
            <ol>
                <li>Пользователь
                    обязуется оплачивать платные Сервисы согласно тарифам, указанным
                    на Сайте;
                </li><li>Для оплаты
                    использования Сервисов используются средства на депозите
                    Пользователя.
            </li></ol>

        </li><li>Изменения в
            стоимости Сервисов:
            <ol>
                <li>Администрация
                    Сайта вправе вносить изменения в существующие тарифы или вводить
                    новые тарифы (далее – тарифные изменения) в одностороннем
                    порядке. Факт продолжения использования Пользователем Сервисов &nbsp;
                    после введения новых тарифов является подтверждением согласия
                    Пользователя с тарифными изменениями.
            </li></ol>

        </li><li>Ошибки при
            выполнении платежей:
            <ol>
                <li>Если
                    Пользователь считает, что при выполнении платежа была допущена
                    ошибка, Пользователь должен в течение 30 календарных дней,
                    исчисляющихся со дня выполнения оспариваемого платежа, обратиться в
                    Отдел обслуживания клиентов (адрес электронной почты
                    <a href="mailto:support@garlnd.ru">support@garlnd.ru</a>).

                </li><li>Требования о
                    возврате платежей или внесении изменений в размер суммы платежа не
                    рассматриваются по истечении 30 календарных дней со дня выполнения
                    оспариваемого платежа.
            </li></ol>

        </li><li>Прочие условия
            <ol>
                <li>Настоящие Правила
                    регулируются и толкуются в соответствии с законодательством
                    Российской Федерации. Вопросы, не урегулированные Правилами,
                    подлежат разрешению в соответствии с законодательством Российской
                    Федерации.
                </li><li>В случае
                    возникновения любых споров или разногласий, связанных с исполнением
                    настоящих Правил, Пользователь и Администрация Сайта приложат все
                    усилия для их разрешения путем проведения переговоров между ними. В
                    случае если споры не будут разрешены путем переговоров, споры
                    подлежат разрешению в порядке, установленном действующим
                    законодательством Российской Федерации.
                </li><li>Если по тем или
                    иным причинам одно или несколько положений настоящих Правил будут
                    признаны недействительными или не имеющими юридической силы, это не
                    оказывает влияния на действительность или применимость остальных
                    положений.
                </li><li>Стороны
                    освобождаются от ответственности за неисполнение или ненадлежащее
                    исполнение обязательств по Соглашению, если это неисполнение
                    явилось следствием обстоятельств неопределимой силы, возникших
                    после заключения Соглашения, которые Стороны не могли предвидеть
                    или предотвратить разумными мерами (форс-мажор). К таким событиям
                    чрезвычайного характера в том числе относятся: наводнения, пожар,
                    землетрясение, оседание почвы, эпидемия и иные природные
                    катастрофы, действия государственных органов, а также война и
                    военные действия, забастовки и другие обстоятельства непреодолимой
                    силы.
                </li><li>Администрация
                    Сайта вправе обратиться в суд с иском о возмещении убытков, включая
                    упущенную выгоду, причиненных действиями Пользователя, если
                    Пользователь совершил действия, приводящие к нарушению
                    функционирования Сайта и/или предоставлению Сервисов.
                </li><li>Соглашение
                    вступает в силу с момента его акцепта в порядке, предусмотренном
                    п.3.1 Правил, и считается заключенным на неопределенный срок.
                </li><li>Соглашение может
                    быть расторгнуто или изменено в случаях и в порядке,
                    предусмотренных законодательством Российской Федерации и Правилами.

                </li><li>Пользователь
                    имеет право распространять любые данные любыми законными способами.
                    Администрация Сайта не несет ответственности за действия третьих
                    лиц, которые получили доступ к информации о Пользователе в
                    результате указанного распространения, либо осуществили
                    неправомерный доступ к охраняемой информации о Пользователе.
                </li><li>Стороны
                    соглашаются и признают, что предоставленные Пользователем данные о
                    себе в рамках настоящего Договора не являются достоверными и не
                    подпадают под действие Закона РФ №152-ФЗ «О персональных
                    данных».
            </li></ol>
    </li></ol>
</li></ol>
{% endblock %}