{% extends "main.html" %}

{% block content %}
<h1>Поблагодарить</h1>
<p>
G&Lambda;RLND - это проект, полностью разработанный и сопровождаемый
командой добровольцев. Мы пытаемся поддерживать проект без рекламы.
Если проект был вам полезен, и вы хотите нас поблагодарить вы можете это сделать в форме финансового пожертвования.
Для работы проекта и для его развития требуются различные ресурсы, одним из которых является финансовый.
</p>
<p>Основной список приоритетных направлений расходования благотворительных средств:</p>
<ol>
    <li>Оплата обслуживания серверного оборудования</li>
    <li>Оплата работы программистов</li>
    <li>Разработки новых сервисов, устройств и программ</li>
</ol>
<br>
<h2>Решили внести пожертвование?</h2>
<p>
Пожертвование можно сделать через хорошо известную службу <a href="http://www.paypal.com">PayPal</a>. Сумма не имеет значение, полезна любая помощь проекту. Даже самая маленькая. Оставьте свой логин в комментарии к платежу и мы, в знак признательности, расширим возможности вашей учетной записи.
</p>
<br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="DN2TB2NTG7V7U">
  <button type="submit" class="btn btn-large btn-primary" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">Пожертвовать через PayPal</button>
  <img alt="" border="0" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" width="1" height="1">
</form>

{% endblock %}