{% extends 'main.html' %}
{% load django_bootstrap5 %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}leaflet/leaflet.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/map_form.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}js/map_form.js"></script>
{% endblock %}

{% block sub_content %}
<h1>{% if change %}Редактирование{% else %}Создание{% endif %} карты</h1>
<hr>
<form class="form-horizontal" action="" method="post">{% csrf_token %}
    {% bootstrap_form map_form %}
    <div class="control-group">
        <label class="control-label" for="id_map_center">Центр карты</label>
        <div class="controls">
            <div id="map_center"></div>
            <span class="help-block">Перетяните карту на нужную позицию, которая будет показана при просмотре</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="{% if change %}Сохранить{% else %}Создать{% endif %}" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}